@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
* {
    background-color: #2d541c  ;
}
h1, h2, span, a {
    color: white;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-decoration: none;
}
.header_headline{
    font-size: 50px;
    padding-top: -40px;
    
}
.header{
   display:inline-flex;
   padding: 30px;
    
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    list-style: none;
    padding-top: 30px;
   
}
.nav-item {
    padding-left: 40px;
    font-size: 30px;
}
.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.text {
    font-family: 'Just Another Hand', cursive;
    font-size: 140px;
    font-weight: lighter;
    padding-left: 80px;
    padding-top: 20px;
    margin-bottom: -30px;
   
}
.bluebree{
    width: 60%;
    height: 80%;
    padding-bottom: 50px;
    padding-right: 30px;
    
}
.call_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    justify-content:space-between;
}
input {
    border: none;
    outline: none;
    height: 45px;
    width: 100%;
    margin: 10px 0;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    padding-left: 15px;
}
input::placeholder{
    color: #ac9784;
  text-transform: uppercase;
  font-size: 15px;
}
button {
    width: 30%;
    border: none;
  background-color: #fd9e2e;
  color: #fff;
  padding: 10px 55px;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 35px;
}
h2{
    padding-left: 10px;
}
.info_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    
    
    justify-content:space-around;
    

}
.social_media {
    display:none
 }


.section_footer {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns:2fr 2fr ;
    padding-left: 200px;
   

}
.info {
   font-size: 25px;
   padding-bottom: 15px;
    
}
@media screen and (max-width: 1024px){
    .header{
        display:block;
        margin: auto;
    }
    .header_headline {
        margin: auto;
    }
    .nav-item {
        padding-left: 30px;
        font-size: 25px;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content:center;
        list-style: none;
        padding-top: 30px;
       
    }
    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .bluebree{
        width: 100%;
        height: 100%;
        
        padding-left: 20px;
        padding-top: 30px;
        
    }
    .text {
        font-family: 'Just Another Hand', cursive;
        font-size: 120px;
        font-weight: lighter;
        padding-top: -20px;
       }
    .section_footer {
        width: 100%;
        height: 50%;
       display: flex;
       flex-direction: column;
       padding-left: 200px;
       
    }
    .social_media {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
        padding-top: 30px;

   
}
.call_form{
    width: 30%;
}
}